$font-primary: 'Poppins', sans-serif;


$color-light: #fafafa;
$color-dark: #000;
$color-bg-footer: #0c0d14;
$color-text-gray: #a9a9a9;
$color-border: #333;
$color-accent: #cdbb88;
$color-overlay-light: rgba(240, 240, 240, 0.7);
$color-overlay-dark: rgba(48,45,45,0.7);
$container-width: 1240px;
$header-height: 80px;

$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 30px;
$spacing-xxl: 50px;

$border-radius-main:5px;

$bp-tablet: 1024px;
$bp-mobile: 739px;